@font-face {
	font-family: game_icons;
	src: url('GameIcons.otf');
}

body {
    font-family: Arial;
}

#input {
	width: 400px;
	height: 200px;
	display: block;
}

/*PowerCard Styles*/
.powers-header {
	
}

.heading {
    background-color: green;
    color: white;
    font-weight: bold;
	padding: 4px;
	margin-top: 4px;
}

.ability-heading {
    background-color: tan;
    color: black;
	font-weight: bold;
	font-size: .8em;
	padding: 4px;
	margin-bottom:4px;
}

.powerbody {
	padding-left: 20px;
	text-indent: -10px;
	font-size: .8em;
	background-color: #E4D2BA;
}

.powerfonts {
	font-family: game_icons, Helvetica;
	font-size: .7em;
}

.powerkeywords {
	font-weight: normal;
}

.SkillsAttrs{
	background-color: tan;
    color: black;
	padding-top: 4px;
	padding-left: 2px;
	font-size: .8em;
}

.halfSize{
	display: inline-block;
	width: 49%;
}

.creature .name {
	float: left;
	width: 220px;
	
}

.creature .leveltype {
	float: right;
	width: 160px;
}

.creature .keywords {
	float: left;
	width: 200px;
	font-size: .9em;
}

.creature .xp {
	float: right;
	width: 180px;
	font-size: .9em;
}

.AlignEquipLanguage {
	background-color: #E4D2BA;
	padding-top: 4px;
	padding-left: 2px;
	font-size: .8em;
}

.stats{
	padding-top:4px;
	padding-left: 2px;
	font-size: .8em;
}

.Attributes div{
	width: 30%;
	display: inline-block;
	padding-top: 4px;
	padding-left: 2px;
}

.equipment{
	margin-top: 4px;
	margin-right: 2px;
}

.description{
	margin-top: 4px;
	margin-right: 2px;
	font-style: italic;
}

.leftStats{
	width: 49%;
	display: inline-block;
}

.rightStats{
	width: 49%;
	display: inline-block;
	text-align: right;
}

.entity {
	border: black 1px solid;
	display: block;
}

.creature {
	width: 400px;
	background-color: #E4D2BA;
}

.topinfo {
	background-color: darkgreen;
	//border: black 1px solid;
	overflow: hidden;
	padding: 4px;
	//height: 1em;
}

.topinfo div{
	//border: black 1px solid;
	font-weight: bold;
	color: white;
}

.rightText{
	text-align: right;
}
